.top-section {
  background-image: url(/../assets/images/top_bg.png);
  height: calc(50vh - 86px);

  @media (min-width: 768px) {
    height: calc(100vh - 86px);
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
