<section class="bottom-section">
  <h2 class="section-title">EVERY INDUSTRY EVERY SERVICE</h2>
  <div class="hi-tech-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="image">
            <img src="\assets\images\hi-tech.png" class="img-fluid" alt="Plan Run Transform" load="lazy">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="text-box">
            <h3 class="title"> Hi-tech</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit
              in voluptate velit esse cillum dolore eu fugiat nulla</p>
            <button class="btn">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
