<div class="row row-1">
  <div class="d-flex flex-column flex-sm-row w-100">
    <div class="img-section text-black img-left">
      <p class="img-section-title">Digital Transformation</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>

        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn">read more</button>
      </div>
    </div>
    <div class="img-section text-white img-right">
      <p class="img-section-title">Security & Cyber</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>
        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn">read more</button>
      </div>
    </div>
  </div>
</div>
<div class="row row-2">
  <div class="d-flex flex-column flex-sm-row justify-content-center w-100">
    <div class="img-section text-white img-left">
      <p class="img-section-title">Smart World</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>

        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn">read more</button>
      </div>
    </div>
    <div class="img-section text-black img-right">
      <p class="img-section-title">Cloud</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>
        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn white">read more</button>
      </div>
    </div>
  </div>
</div>
<div class="row row-3">
  <div class="d-flex flex-column flex-sm-row justify-content-center w-100">
    <div class="img-section text-black img-left">
      <p class="img-section-title">GAME CHANGERS</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>

        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn">read more</button>
      </div>
    </div>
    <div class="img-section text-black img-right">
      <p class="img-section-title">Data</p>
      <div class="text-part">
        <blockquote>
          The digital revolution is an ever-advancing reality of modern business, you need a partner that will
          ensure
          a smooth digital...
        </blockquote>
        <p>
          <span class="bold">RUMI GUR,</span> <span class="light"> Digital leader</span>
        </p>
      </div>
      <div class="button-part d-flex justify-content-end">
        <button class="btn">read more</button>
      </div>
    </div>
  </div>
</div>
