<app-header></app-header>
<app-hero></app-hero>
<!-- <button (click)="scroll(target)">DOWNN</button> -->
<section #target class="middle-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-title">GAME CHANGERS</h2>
        <h3 class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</h3>
      </div>
    </div>
    <app-news-card></app-news-card>
  </div>
</section>
<app-bottom></app-bottom>
<!-- footer -->
<footer class="footer">

</footer>
